# Scala 

target
.idea
/.idea_modules
/.classpath
/.project
/.settings
/RUNNING_PID
bin/
lib/
logs/
modules/
project/project
project/target
target/
tmp/
test-result
server.pid
*.eml
/dist/
.cache
libexec/
.sbtserver
.sbtserver.lock
.DS_Store
public/ui

node_modules
!protractor.conf.js
!karma.conf.js
*.js
*.js.map
dist
*.log
.idea
*.iml

# Terraform
local-variables.tfvar
*.tfstate
*.tfstate.backup
.terraform/
terraform
local-variables.tfvars

.vscode

# Python
__pycache__